.main-container{
    background-image: url("https://res.cloudinary.com/dqt58wdlv/image/upload/v1747759518/premium_photo-1661962542692-4fe7a4ad6b54_wwnb8m.jpg");
    text-align: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size:cover;
}
.main-card-container{
    text-align: center;
    border-top-left-radius:27px;
    border-top-right-radius:27px;
    padding: 10px;
}

.para{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:300px;
    font-style:normal;
}
.explore-card-container{
    background-color: rgb(156, 244, 215);
    padding:15px;
    border-radius:10px;
    margin-top:30px;
    border:solid black 3px;

}
.explore-card-img{
    height: 220px;
    width: 270px;
}
.details-page-card{
    background-color: silver;
    padding: 25px;
    margin: 25px;
    border-radius: 20px;
}

.btn-1 {
 padding: 2px;
 margin: 15px;
 text-align: center;  
}
